*{
  text-align: center;
}

.title{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(26, 23, 19);
  margin-top: 40px;
  font-size: 60px;
}

.links{
  font-size: 30px;
  text-decoration: none;
}
